.board {
    width: 1920px;
    position: relative;
    z-index: 1;
}

.crash {
    width: 35px;
    height: 50px;
    position: absolute;
    left: 330px;
    top: 415px;

}
.vash {
    width: 70px;
    height: 100px;
    position: absolute;
    top: 10px;
    right:610px;
}
.marvin {
    width: 60px;
    height: 70px;
    position: absolute;
    bottom: 280px;
    right: 390px;
}