.correct, .wrong {
    position: fixed;
    top: 80px;
    left: 50%;
    font-size: 24px;
    z-index: 4;
    border-radius: 4px;
    
}

.wrong{
    background-color: #f25042;
    color: #fffffe;
    width: 100px;
    text-align: center;
    padding: 5px;
    border: 2px solid #993229;
    
}

.correct {
    background-color: #fffffe;
    width: 100px;
    padding: 5px;
    border: 2px solid #8c7851;
    font-weight: 600;
    text-align: center;

}